
.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    transform: rotate(-45deg);
}

.star {
    --star-color: var(--primary-color);
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
.star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
}
}
.star:nth-child(1) {
    --star-tail-length: 5.92em;
    --top-offset: 54.83vh;
    --fall-duration: 7.622s;
    --fall-delay: 3.885s;
}
.star:nth-child(2) {
    --star-tail-length: 6.26em;
    --top-offset: 77.7vh;
    --fall-duration: 11.723s;
    --fall-delay: 6.722s;
}
.star:nth-child(3) {
    --star-tail-length: 6.56em;
    --top-offset: 81.23vh;
    --fall-duration: 6.228s;
    --fall-delay: 2.29s;
}
.star:nth-child(4) {
    --star-tail-length: 5.53em;
    --top-offset: 60.82vh;
    --fall-duration: 9.571s;
    --fall-delay: 0.336s;
}
.star:nth-child(5) {
    --star-tail-length: 6.77em;
    --top-offset: 84.27vh;
    --fall-duration: 10.137s;
    --fall-delay: 5.761s;
}
.star:nth-child(6) {
    --star-tail-length: 6.98em;
    --top-offset: 60.18vh;
    --fall-duration: 11.862s;
    --fall-delay: 8.842s;
}
.star:nth-child(7) {
    --star-tail-length: 5.83em;
    --top-offset: 72.99vh;
    --fall-duration: 6.344s;
    --fall-delay: 4.797s;
}
.star:nth-child(8) {
    --star-tail-length: 7.42em;
    --top-offset: 9.48vh;
    --fall-duration: 10.189s;
    --fall-delay: 2.155s;
}
.star:nth-child(9) {
    --star-tail-length: 6.66em;
    --top-offset: 13.29vh;
    --fall-duration: 10.349s;
    --fall-delay: 8.286s;
}
.star:nth-child(10) {
    --star-tail-length: 6.45em;
    --top-offset: 3.95vh;
    --fall-duration: 6.653s;
    --fall-delay: 8.002s;
}
.star:nth-child(11) {
    --star-tail-length: 5.08em;
    --top-offset: 13.38vh;
    --fall-duration: 10.002s;
    --fall-delay: 7.692s;
}
.star:nth-child(12) {
    --star-tail-length: 6.66em;
    --top-offset: 68.07vh;
    --fall-duration: 9.068s;
    --fall-delay: 9.386s;
}
.star:nth-child(13) {
    --star-tail-length: 6.79em;
    --top-offset: 0.01vh;
    --fall-duration: 10.359s;
    --fall-delay: 4.681s;
}
.star:nth-child(14) {
    --star-tail-length: 6.37em;
    --top-offset: 72.19vh;
    --fall-duration: 9.944s;
    --fall-delay: 0.172s;
}
.star:nth-child(15) {
    --star-tail-length: 6.71em;
    --top-offset: 59.05vh;
    --fall-duration: 6.735s;
    --fall-delay: 3.172s;
}
.star:nth-child(16) {
    --star-tail-length: 7.2em;
    --top-offset: 15.11vh;
    --fall-duration: 10.135s;
    --fall-delay: 4.761s;
}
.star:nth-child(17) {
    --star-tail-length: 5.15em;
    --top-offset: 90.7vh;
    --fall-duration: 8.375s;
    --fall-delay: 0.409s;
}
.star:nth-child(18) {
    --star-tail-length: 6.51em;
    --top-offset: 76.49vh;
    --fall-duration: 9.807s;
    --fall-delay: 5.309s;
}
.star:nth-child(19) {
    --star-tail-length: 6.94em;
    --top-offset: 69.4vh;
    --fall-duration: 11.628s;
    --fall-delay: 0.996s;
}
.star:nth-child(20) {
    --star-tail-length: 6.93em;
    --top-offset: 46.55vh;
    --fall-duration: 6.168s;
    --fall-delay: 3.099s;
}
.star:nth-child(21) {
    --star-tail-length: 6em;
    --top-offset: 93.4vh;
    --fall-duration: 8.471s;
    --fall-delay: 0.968s;
}
.star:nth-child(22) {
    --star-tail-length: 6.21em;
    --top-offset: 37.02vh;
    --fall-duration: 9.835s;
    --fall-delay: 6.237s;
}
.star:nth-child(23) {
    --star-tail-length: 6.02em;
    --top-offset: 70.55vh;
    --fall-duration: 10.95s;
    --fall-delay: 0.668s;
}
.star:nth-child(24) {
    --star-tail-length: 6.28em;
    --top-offset: 12.63vh;
    --fall-duration: 10.536s;
    --fall-delay: 8.007s;
}
.star:nth-child(25) {
    --star-tail-length: 6.31em;
    --top-offset: 28.97vh;
    --fall-duration: 11.976s;
    --fall-delay: 0.542s;
}
.star:nth-child(26) {
    --star-tail-length: 5.41em;
    --top-offset: 67.96vh;
    --fall-duration: 11.734s;
    --fall-delay: 6.595s;
}
.star:nth-child(27) {
    --star-tail-length: 5.22em;
    --top-offset: 23.76vh;
    --fall-duration: 7.317s;
    --fall-delay: 4.206s;
}
.star:nth-child(28) {
    --star-tail-length: 6.14em;
    --top-offset: 44.7vh;
    --fall-duration: 10.894s;
    --fall-delay: 6.22s;
}
.star:nth-child(29) {
    --star-tail-length: 5.08em;
    --top-offset: 33.17vh;
    --fall-duration: 8.791s;
    --fall-delay: 4.171s;
}
.star:nth-child(30) {
    --star-tail-length: 6.59em;
    --top-offset: 50.62vh;
    --fall-duration: 9.443s;
    --fall-delay: 9.81s;
}
.star:nth-child(31) {
    --star-tail-length: 6.45em;
    --top-offset: 43.29vh;
    --fall-duration: 11.816s;
    --fall-delay: 2.675s;
}
.star:nth-child(32) {
    --star-tail-length: 6.99em;
    --top-offset: 52.48vh;
    --fall-duration: 7.496s;
    --fall-delay: 2.571s;
}
.star:nth-child(33) {
    --star-tail-length: 7.47em;
    --top-offset: 82.55vh;
    --fall-duration: 10.336s;
    --fall-delay: 4.582s;
}
.star:nth-child(34) {
    --star-tail-length: 5.62em;
    --top-offset: 77.72vh;
    --fall-duration: 8.68s;
    --fall-delay: 9.655s;
}
.star:nth-child(35) {
    --star-tail-length: 5.1em;
    --top-offset: 55.4vh;
    --fall-duration: 8.188s;
    --fall-delay: 0.537s;
}
.star:nth-child(36) {
    --star-tail-length: 6.68em;
    --top-offset: 65.05vh;
    --fall-duration: 10.181s;
    --fall-delay: 8.179s;
}
.star:nth-child(37) {
    --star-tail-length: 6.87em;
    --top-offset: 2.32vh;
    --fall-duration: 9.499s;
    --fall-delay: 2.019s;
}
.star:nth-child(38) {
    --star-tail-length: 5.39em;
    --top-offset: 93.55vh;
    --fall-duration: 8.619s;
    --fall-delay: 1.208s;
}
.star:nth-child(39) {
    --star-tail-length: 6.51em;
    --top-offset: 9.89vh;
    --fall-duration: 9.483s;
    --fall-delay: 4.211s;
}
.star:nth-child(40) {
    --star-tail-length: 5.43em;
    --top-offset: 9.07vh;
    --fall-duration: 7.321s;
    --fall-delay: 7.106s;
}
.star:nth-child(41) {
    --star-tail-length: 6.44em;
    --top-offset: 28.41vh;
    --fall-duration: 8.626s;
    --fall-delay: 0.157s;
}
.star:nth-child(42) {
    --star-tail-length: 6.58em;
    --top-offset: 41.86vh;
    --fall-duration: 6.134s;
    --fall-delay: 2.243s;
}
.star:nth-child(43) {
    --star-tail-length: 7.39em;
    --top-offset: 32.07vh;
    --fall-duration: 6.371s;
    --fall-delay: 6.962s;
}
.star:nth-child(44) {
    --star-tail-length: 6.73em;
    --top-offset: 52.18vh;
    --fall-duration: 10.121s;
    --fall-delay: 5.723s;
}
.star:nth-child(45) {
    --star-tail-length: 6.35em;
    --top-offset: 92.97vh;
    --fall-duration: 9.004s;
    --fall-delay: 9.8s;
}
.star:nth-child(46) {
    --star-tail-length: 6.68em;
    --top-offset: 90.73vh;
    --fall-duration: 6.187s;
    --fall-delay: 9.192s;
}
.star:nth-child(47) {
    --star-tail-length: 6.81em;
    --top-offset: 94.2vh;
    --fall-duration: 6.588s;
    --fall-delay: 3.212s;
}
.star:nth-child(48) {
    --star-tail-length: 7.05em;
    --top-offset: 37.16vh;
    --fall-duration: 11.836s;
    --fall-delay: 6.406s;
}
.star:nth-child(49) {
    --star-tail-length: 6.1em;
    --top-offset: 23.46vh;
    --fall-duration: 10.038s;
    --fall-delay: 6.86s;
}
.star:nth-child(50) {
    --star-tail-length: 7.07em;
    --top-offset: 97.3vh;
    --fall-duration: 10.792s;
    --fall-delay: 1.453s;
}
.star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
}
.star::before {
    transform: rotate(45deg);
}
.star::after {
    transform: rotate(-45deg);
}

@keyframes fall {
to {
    transform: translate3d(-30em, 0, 0);
}
}
@keyframes tail-fade {
0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
}
70%, 80% {
    width: 0;
    opacity: 0.4;
}
100% {
    width: 0;
    opacity: 0;
}
}
@keyframes blink {
50% {
    opacity: 0.6;
    }
}